<ul>
  <li id="home">
    <a href="home.html">
      <img src="../assets/home-icon.png" class="icon">
      <span class="label">HOME</span>
    </a>
  </li>
  <li id="education">
    <a href="education.html">
      <img src="../assets/edu-icon.png" class="icon">
      <span class="label">EDUCATION</span>
    </a>
  </li>
  <li id="experience">
    <a href="experience.html">
      <img src="../assets/exp-icon.png" class="icon">
      <span class="label">EXPERIENCE</span>
    </a>
  </li>
  <li id="paintings">
    <a href="paintings.html">
      <img src="../assets/painting-icon.png" class="icon">
      <span class="label">PAINTINGS</span>
    </a>
  </li>
  <li id="music">
    <a href="music.html">
      <img src="../assets/music-icon.png" class="icon">
      <span class="label">MUSIC</span>
    </a>
  </li>
</ul>