<ul>
  <li id="home">
    <a href="home.html">
      <img src="../assets/home-icon.png"> HOME
    </a>
  </li>
  <li id="education">
    <a href="education.html">
      <img src="../assets/edu-icon.png"> EDUCATION
    </a>
  </li>
  <li id="experience">
    <a href="experience.html">
      <img src="../assets/exp-icon.png"> EXPERIENCE
    </a>
  </li>
  <li id="paintings">
    <a href="paintings.html">
      <img src="../assets/painting-icon.png"> PAINTINGS
    </a>
  </li>
  <li id="music">
    <a href="music.html">
      <img src="../assets/music-icon.png"> MUSIC
    </a>
  </li>
</ul>
